* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carrito2-precio {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.carrito2 {
    margin-top: 25px;
    border-radius: 10px;
    background-color: #BECDE3;
    padding: 2%;
}

h2 {
    margin-bottom: 20px;
}

.producto {
    background-color: white;
    display: flex;
    position: relative;
    height: 25%;
    padding: 10px;
}

.precio {
    position: absolute;
    top: 60%;
}

.eliminar {
    background-color: red;
    position: absolute;
    top: 60%;
    left: 82%;
    cursor: pointer;
    font-weight: bold;
    padding: 3px;
    border-radius: 4px;
    color: white;
}

.totalprecio {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
}

.precio2 {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 20px;
}

.boton-terminar {
    color: rgb(240, 244, 255);
    padding: 9px;
    background-color: #0E80CB;
}

.boton-terminar:hover {
    cursor: pointer;
}