#footer {
  padding-top: 10px;
  width: 100%;
  background-color: #1E3645;
  height: 160px;
  position: static;
  margin-top: 30px;
}

.grid {
  display: grid;
  grid-template-areas: "a b c d"
    "e f f u";
}

.grid__item:nth-child(1) {
  grid-area: b;
}

.grid__item:nth-child(2) {
  grid-area: c;
}

.grid__item:nth-child(3) {
  grid-area: e;
  padding-top: 10px;
  padding-left: 10px;
}

.grid__item:nth-child(4) {
  grid-area: a;
}

.grid__item:nth-child(5) {
  grid-area: d;
}

.grid__item:nth-child(6) {
  grid-area: f;
  text-align: center;
}
.grid__item:nth-child(7) {
  grid-area: u;
  text-align: end;
}

.copy {
  margin-top: 28px
}
.mapa{
  margin-right: 10px;
}

.contenedor-footer li:first-child {
  font-size: 28px;
  font-weight: bold;
}

.contenedor-footer,
.copy a {
  list-style: none;
}

.contenedor-footer a,
.copy a,.mapa a,
.grid__item {
  color: azure;
  text-decoration: none;
}

@media only screen and (min-width: 400px) and (max-width: 630px) {
  .grid__item{
    font-size: 12px;
  }  
  .contenedor-footer li:first-child {
    font-size: 20px;
    font-weight: bold;
  }
  

}

@media only screen and (min-width: 0px) and (max-width: 400px) {
  .grid__item{
    font-size: 7px;
  }  
  .contenedor-footer li:first-child {
    font-size: 16px;
    font-weight: bold;
  }
  #footer {

    height: 100px;

  }
}



/* FIN FOOTER */