* {
    margin: 0px;
    padding: 0px;
}

#header {
    height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0D5686;
}

.logo {
    display: flex;
    margin-left: 15px;

}

.logo img {
    width: 120px;
}

.contenedor-nav {
    display: flex;
}

.contenedor-nav li {
    margin-right: 15px;
    list-style: none;
}

.contenedor-nav li a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 9px;
}

.contenedor-nav a:hover {
    color: #000000;
    background-color: azure;
    border-radius: 7%;
    transition: 400ms;
}


@media only screen and (min-width: 515px) and (max-width: 800px) {

    #header {
        display: block;
        background-color: #0D5686;
    }

    .logo {
        padding-top: 5px;
        justify-content: center;
    }

    .logo img {
        width: 70px;
    }

    .contenedor-nav {
        justify-content: center;
        margin-top: 13px;
    }
    .contenedor-nav li a {
        padding: 6px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 515px) {
    #header {
        height: 100%;
        display: block;
    }

    .logo {
        display: none;
    }

    .contenedor-nav {
        flex-direction: column;
        align-items: center;
    }

    .contenedor-nav li {
        margin-right: 0px;
        padding: 15px 500px;
        border-bottom: 1px solid rgb(0, 0, 0);
    }

    .contenedor-nav li a {
        padding: 15px 500px;
    }

    .contenedor-nav li a:hover {

    }
}