@font-face {
    font-family: Quickasand;
    src: url(../fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #CAD9FF;
}

/* INICIO IMAGEN PRIN */
.cont-imagen {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
    display: inline-block;
    text-align: center;
}

.cont-imagen img {
    width: 100%;

}

.cont-imagen div {
    transition: all 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: azure;
    font-size: 47px;
    font-weight: bold;
    font-family: Quickasand;
}

/* FIN IMAGEN PRIN */