<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/icons/LOGO8.png">
    <link rel="stylesheet" href="../styles/atencion.css">

    <title>Document</title>
</head>
<body>
    <h1>centro de soporte</h1>
    <div class="form-descrip">
        <div class="form">
            <h2>FORMULARIO PARA DUDAS</h2>

        </div>
        <div class="descrip">
            <h2>Dudas más frecuentes</h2>
            <p><strong>¿Dónde puedo descargar mi factura?:</strong> En la sección "Mi Cuenta/Mis Pedidos" está disponible la descarga de la factura.</p>
            <p><strong>¿Cuáles son los estados por los que pasará mi pedido hasta ser enviado?:</strong>
                <br> 
                <span class="margen">Realizado</span>
                <br> 
                <span class="margen">En proceso</span>
                <br> 
                <span class="margen">Pagado</span>
                <br> 
                <span class="margen">Enviado</span>
            </p>
            <p><strong>Cambiar el procesador:</strong> Para que tu ordenador este actualizado y sea estable, puede ser recomendable cambiar el procesador. Consulta con nuestros expertos cualquier problema que tengas con tu PC de sobremesa, ellos te ayudarán y te solucionarán cualquier inconveniente.</p>
        
            <h2>Reparar portátiles</h2>
            <p><strong>Reparamos pantallas de portátiles:</strong> Si la pantalla de tu portátil tiene píxeles muertos o apagados, si hay algún punto que no se ve bien o crees que se podría calibrar mejor, en PcComponentes podemos arreglar la pantalla del cualquier portátil, sea de la marca que sea.</p>
            <p><strong>Cambiamos la batería del portátil:</strong> Con el tiempo, las baterías de los portátiles también se resienten con los años. Los modelos más modernos ya no incluyen baterías extraíbles, por lo que cambiarlas es complicado. Si tienes que cambiar la batería del portátil o repararla, nuestros expertos lo harán por ti, rápido y muy sencillo. </p>
            <p><strong>Reparamos teclados:</strong> En ocasiones, los teclados de los portátiles dan problemas con algunas teclas. Si necesitas reparar una tecla de tu portátil o arreglar el teclado, en PcComponentes podemos ayudarte con ello. Reparamos teclados de portátiles HP, Asus, Lenovo y cualquier marca.</p>

        </div>
    </div>
</body>
</html>