<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/icons/LOGO8.png">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/atencion.css">

    <title>Atencion-Al-Cliente</title>
</head>

<body>
    <!-- INICIO HEADER -->
    <header id="header">
        <a class="logo" href="../index.html"><img src="../icons/logoh4tt.png" alt="imagen-logo"></a>
        <ul class="contenedor-nav">
            <li><a href="../index.html">inicio</a></li>
            <li class="desplegable1"><a href="#">productos</a>
                <ul class="desplegable">
                    <li><a href="./sobremesa.html">sobremesa</a></li>
                    <li><a href="./portatil.html">portátil</a></li>
                    <li><a href="./telefono.html">teléfono</a></li>
                </ul>
            </li>
            <li class="desplegable1"><a href="#">servicios</a>
                <ul class="desplegable">
                    <li><a href="./reparación.html">reparación</a></li>
                    <li><a href="./atencion.html">atención al cliente</a></li>
                    <li><a href="./somos.html">quienes somos</a></li>
                </ul>
            </li>
            <li><a href="./cuenta.html">cuenta</a></li>
            <a href="./carrito.html" class="carrito"><img src="../icons/-shopping-cart_90604.svg" alt="Carrito de la compra"></a>
        </ul>
    </header>
    <!-- FIN HEADER -->
    <h1>centro de soporte</h1>
    <div class="form-descrip">
        <div class="form">
            <h2>FORMULARIO PARA DUDAS</h2>
            <form>
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" placeholder="Nombre*" required>

                <label for="apellidos">Apellidos</label>
                <input type="text" id="apellidos" name="apellidos" placeholder="Apellidos*" required>

                <label for="telefono">Teléfono</label>
                <input type="tel" id="telefono" name="telefono" placeholder="Telefono*" required>

                <label for="email">Correo electrónico</label>
                <input type="email" id="email" name="email" placeholder="Email*" required>

                <label for="descripcion">Descripción de la duda</label>
                <textarea id="descripcion" name="descripcion" rows="5" cols="30" maxlength="500"></textarea>
                <input type="submit" value="Enviar">
            </form>

        </div>
        <div class="descrip">
            <h2>Dudas más frecuentes</h2>
            <p><strong>¿Dónde puedo descargar mi factura?:</strong> En la sección "Mi Cuenta/Mis Pedidos" está
                disponible la descarga de la factura.</p>
            <p><strong>¿Cuáles son los estados por los que pasará mi pedido hasta ser enviado?:</strong>
                <br>
                <span class="margen">Realizado</span>
                <br>
                <span class="margen">En proceso</span>
                <br>
                <span class="margen">Pagado</span>
                <br>
                <span class="margen">Enviado</span>
            </p>
            <p><strong>Cambiar el procesador:</strong> Para que tu ordenador este actualizado y sea estable, puede ser
                recomendable cambiar el procesador. Consulta con nuestros expertos cualquier problema que tengas con tu
                PC de sobremesa, ellos te ayudarán y te solucionarán cualquier inconveniente.</p>

            <h2>Reparar portátiles</h2>
            <p><strong>Reparamos pantallas de portátiles:</strong> Si la pantalla de tu portátil tiene píxeles muertos o
                apagados, si hay algún punto que no se ve bien o crees que se podría calibrar mejor, en PcComponentes
                podemos arreglar la pantalla del cualquier portátil, sea de la marca que sea.</p>
            <p><strong>Cambiamos la batería del portátil:</strong> Con el tiempo, las baterías de los portátiles también
                se resienten con los años. Los modelos más modernos ya no incluyen baterías extraíbles, por lo que
                cambiarlas es complicado. Si tienes que cambiar la batería del portátil o repararla, nuestros expertos
                lo harán por ti, rápido y muy sencillo. </p>
            <p><strong>Reparamos teclados:</strong> En ocasiones, los teclados de los portátiles dan problemas con
                algunas teclas. Si necesitas reparar una tecla de tu portátil o arreglar el teclado, en PcComponentes
                podemos ayudarte con ello. Reparamos teclados de portátiles HP, Asus, Lenovo y cualquier marca.</p>

        </div>
    </div>
        <!-- INICIO FOOTER -->
        <footer id="footer">
            <div class="grid">
                <div class="grid__item">
                    <ul class="contenedor-footer">
                        <li>Productos</li>
                        <li><a href="../view/sobremesa.html">Sobremesa</a></li>
                        <li><a href="../view/portatil.html">Portátil</a></li>
                        <li><a href="../view/telefono.html">Teléfono</a></li>
                    </ul>
                </div>
                <div class="grid__item">
                    <ul class="contenedor-footer">
                        <li>Servicios</li>
                        <li><a href="../view/reparación.html">Reparacion</a></li>
                        <li><a href="../view/atencion.html">Atención al Cliente</a></li>
                        <li><a href="../view/somos.html">Quienes Somos</a></li>
                    </ul>
    
                </div>
                <div class="grid__item">
                    Siguenos en:
                    <a href=""><img src="../icons/github.png" alt="" width="24px"></a>
                    <a href=""><img src="../icons/gorjeo.png" alt="" width="24px"></a>
                    <a href=""><img src="../icons/instagram.png" alt="" width="24px"></a>
    
                </div>
                <div class="grid__item">
                    <a class="logo" href=""><img src="../icons/logoh4tt.png" alt="imagen-logo"></a>
                </div>
                <div class="grid__item">
                    <ul class="contenedor-footer">
                        <li>Contacto</li>
                        <li>Teléfono:999999999</li>
                        <li>Email:a@example.com</li>
                    </ul>
    
                </div>
                <div class="grid__item">
                    <div class="copy">
                        <a href="#">&#169Copyright</a>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="mapa">
                        <a href="../view/mapaweb.html">Mapa web</a>
                    </div>
                </div>
        </footer>
        <!-- FIN FOOTER -->
</body>

</html>