<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/carrito.css">
    <title>Document</title>
</head>

<body>
    <div class="carrito-precio">
        <div class="carrito">
            <h4>Total productos:</h4>
            <div class="producto">
                <img src="../icons/ejemplo1.png" alt="">
                <div class="descripcion">
                    <p>Ryzen 5 5600X/16GB/1TB+500GB SSD RTX3060 + Windows 11 Pro</p>
                    <p class="precio">1999€</p>
                    <div class="eliminar">
                        eliminar
                    </div>
                </div>
            </div>
        </div>
        <div class="totalprecio">
            <div>
                Total:1999€
            </div>
            <div class="boton-terminar">
                TRAMITAR PEDIDO
            </div>
            
        </div>
    </div>
</body>

</html>