<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/icons/LOGO8.png">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/cuenta.css">

    <title>Document</title>
</head>

<body>
    <!-- INICIO HEADER -->
    <header id="header">
        <a class="logo" href="../index.html"><img src="../icons/logoh4tt.png" alt="imagen-logo"></a>
        <ul class="contenedor-nav">
            <li><a href="../index.html">inicio</a></li>
            <li class="desplegable1"><a href="">productos</a>
                <ul class="desplegable">
                    <li><a href="./sobremesa.html">sobremesa</a></li>
                    <li><a href="./portatil.html">portátil</a></li>
                    <li><a href="./telefono.html">teléfono</a></li>
                </ul>
            </li>

            <li class="desplegable1"><a href="#">servicios</a>
                <ul class="desplegable">
                    <li><a href="./reparación.html">reparación</a></li>
                    <li><a href="./atencion.html">atención al cliente</a></li>
                    <li><a href="./somos.html">quienes somos</a></li>
                </ul>
            </li>
            <li><a href="./cuenta.html">cuenta</a></li>
            <a href="./carrito.html" class="carrito"><img src="../icons/-shopping-cart_90604.svg"
                    alt="Carrito de la compra"></a>
        </ul>
    </header>
    <!-- FIN HEADER -->
    <!-- INICIO INICIAR SESION -->
    <div class="iniciar-crear">
        <div class="iniciar">
            <h2>INICIAR SESIÓN</h2>
            <form>

                <label for="email">Correo electrónico</label>
                <input type="email" id="email" name="email" placeholder="Email*" required>

                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" placeholder="Contraseña*" required>

                <input type="submit" value="ENTRAR">
            </form>

        </div>
        <!-- FIN INICIARSESION -->

        <!-- INICIO CREAR CUENTAFIN CREAR CUENTA -->
        <div class="crear">
            <h2>CREAR CUENTA</h2>
            <form>
                <label for="usuario">Usuario</label>
                <input type="text" id="usuario" name="usuario" placeholder="Usuario*" required>

                <label for="email">Correo electrónico</label>
                <input type="email" id="email" name="email" placeholder="Email*" required>

                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" placeholder="Contraseña*" required>

                <label for="password-repeat">Repetir contraseña</label>
                <input type="password" id="password-repeat" name="password-repeat" placeholder="Repetir contraseña*"
                    required>

                <input type="submit" value="Enviar">
            </form>

        </div>
        <!-- FIN CREAR CUENTAFIN CREAR CUENTA -->

    </div>
</body>

</html>