<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/icons/LOGO8.png">
    <link rel="stylesheet" href="../styles/detalle.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <title>Detalle-Sobremesa</title>
</head>

<body>
    <!-- INICIO HEADER -->
    <header id="header">
        <a class="logo" href="../index.html"><img src="../icons/logoh4tt.png" alt="imagen-logo"></a>
        <ul class="contenedor-nav">
            <li><a href="../index.html">inicio</a></li>
            <li class="desplegable1"><a href="#">productos</a>
                <ul class="desplegable">
                    <li><a href="./sobremesa.html">sobremesa</a></li>
                    <li><a href="./portatil.html">portátil</a></li>
                    <li><a href="./telefono.html">teléfono</a></li>
                </ul>
            </li>
            <li class="desplegable1"><a href="#">servicios</a>
                <ul class="desplegable">
                    <li><a href="./reparación.html">reparación</a></li>
                    <li><a href="./atencion.html">atención al cliente</a></li>
                    <li><a href="./somos.html">quienes somos</a></li>
                </ul>
            </li>
            <li><a href="./cuenta.html">cuenta</a></li>
            <a href="./carrito.html" class="carrito"><img src="../icons/-shopping-cart_90604.svg" alt="Carrito de la compra"></a>
        </ul>
    </header>
    <!-- FIN HEADER -->

    
    <div class="img-descrip">
        <img src="../icons/ejemplo1.png" alt="">
        <div class="descrip">
            <p>Ryzen 5 5600X/16GB/ 1TB+500GB SSD RTX3060 + Windows 11 Pro</p>
            <p>1999€</p>
            <p>En stock</p>
            <div class="añadir-comprar">
                <div class="añadir">
                    Añadir al carrito
                </div>
                <div class="comprar">
                    Comprar
                </div>
            </div>
        </div>
    </div>
    <h1>Características</h1>
    <div class="caracteristicas1">
        <div class="caracteristicas">
            <p><strong>Torre:</strong> Bitfenix Pack Nova Mesh TG 4ARGB Cristal Templado Negra</p>
            <p><strong>Fuente de alimentación:</strong> BitFenix Fórmula 650W 80+ Gold</p>
            <p><strong>Procesador:</strong> AMD Ryzen 5 5600X 3.7GHz</p>
            <p><strong>Ventilador:</strong> Noctua NH-U12S CH / Forgeon Solarian (Según disponibilidad)</p>
            <p><strong>Placa Base:</strong> Asus TUF GAMING B550-PLUS / Gigabyte B550 GAMING X V2 Según disponibilidad</p>
            <p><strong>Disco duro:</strong> HDD 1TB SATA3</p>
            <p><strong>Memoria:</strong> 16GB DDR4 3200Mhz (2x8GB)</p>
            <p><strong>Gráfica:</strong> GeForce RTX 3060 GAMING 12GB GDDR6</p>
            <p><strong>Conexiones delanteras:</strong>
                <br>
                Entrada de audio: Si
                <br>
                Salida de audio: Si
                <br>
                Cantidad de puertos tipo A USB 3.2 Gen 1 (3.1 Gen 1): 2
            </p>
            <p><strong>Conexiones traseras:</strong>
                <br>
                1 x DisplayPort
                <br>
                1 x HDMI
                <br>
                1 x LAN (2.5G)
                <br>
                2 x USB 3.2 Gen 2 (teal blue) (1 x Type-A+1 x USB Type-C®)
                <br>
                4 x USB 3.2 Gen 1 (blue) Type-A
                <br>
                2 x USB 2.0 (un puerto se puede cambiar a USB BIOS FlashBack™)
                <br>
                1 x Salida óptica S/PDIF
            </p>
            <p><strong>Dimensiones:</strong> 206 x 437 x 460 mm</p>
    
        </div>
    </div>
        <!-- INICIO FOOTER -->
        <footer id="footer">
            <div class="grid">
                <div class="grid__item">
                    <ul class="contenedor-footer">
                        <li>Productos</li>
                        <li><a href="../view/sobremesa.html">Sobremesa</a></li>
                        <li><a href="../view/portatil.html">Portátil</a></li>
                        <li><a href="../view/telefono.html">Teléfono</a></li>
                    </ul>
                </div>
                <div class="grid__item">
                    <ul class="contenedor-footer">
                        <li>Servicios</li>
                        <li><a href="../view/reparación.html">Reparacion</a></li>
                        <li><a href="../view/atencion.html">Atención al Cliente</a></li>
                        <li><a href="../view/somos.html">Quienes Somos</a></li>
                    </ul>
    
                </div>
                <div class="grid__item">
                    Siguenos en:
                    <a href=""><img src="../icons/github.png" alt="" width="24px"></a>
                    <a href=""><img src="../icons/gorjeo.png" alt="" width="24px"></a>
                    <a href=""><img src="../icons/instagram.png" alt="" width="24px"></a>
    
                </div>
                <div class="grid__item">
                    <a class="logo" href=""><img src="../icons/logoh4tt.png" alt="imagen-logo"></a>
                </div>
                <div class="grid__item">
                    <ul class="contenedor-footer">
                        <li>Contacto</li>
                        <li>Teléfono:999999999</li>
                        <li>Email:a@example.com</li>
                    </ul>
    
                </div>
                <div class="grid__item">
                    <div class="copy">
                        <a href="#">&#169Copyright</a>
                    </div>
                </div>
                <div class="grid__item">
                    <div class="mapa">
                        <a href="../view/mapaweb.html">Mapa web</a>
                    </div>
                </div>
        </footer>
        <!-- FIN FOOTER -->
    
</body>

</html>