<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/mapaweb.css">
    <title>Document</title>
</head>

<body>
    <h1>MAPA WEB</h1>
    <div class="lista">
        <a class="princi" href="">INICIO</a>
        <a class="princi" href="">PRODUCTOS</a>
        <a class="secun" href="">SOBREMESA</a>
        <a class="secun" href="">PORTÁTIL</a>
        <a class="secun" href="">TELÉFONOS</a>
        <a class="princi" href="">SERVICIOS</a>
        <a class="secun" href="">REPARACIÓN</a>
        <a class="secun" href="">ATENCIÓN AL CLIENTE</a>
        <a class="secun" href="">QUIENES SOMOS</a>
        <a class="princi" href="">CUENTA</a>
        <a class="princi" href="">CARRITO</a>
    </div>
</body>

</html>