<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/header.css">
    <title>Document</title>
</head>

<body>
    <!-- INICIO HEADER -->
    <header id="header">
        <a class="logo" href="../index.html"><img src="../icons/logoh4tt.png" alt="imagen-logo"></a>
        <ul class="contenedor-nav">
            <li><a href="../index.html">inicio</a></li>
            <li><a href="./view/productos.html">productos</a></li>
            <li class="servicios"><a href="#">servicios</a>
                <ul class="desplegable">
                    <li><a href="#">reparación</a></li>
                    <li><a href="#">atención al cliente</a></li>
                    <li><a href="#">quienes somos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </li>
            <li><a href="#">cuenta</a></li>
            <a href="#" class="carrito"><img src="../icons/-shopping-cart_90604.svg" alt="Carrito de la compra"></a>
        </ul>
    </header>
    <!-- FIN HEADER -->

</body>

</html>