<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/reparación.css">
    <title>Document</title>
</head>
<body>
    <!-- INICIO HEADER -->
    <header id="header">
        <a class="logo" href="../index.html"><img src="../icons/logoh4tt.png" alt="imagen-logo"></a>
        <ul class="contenedor-nav">
            <li><a href="../index.html">inicio</a></li>
            <li><a href="./view/productos.html">productos</a></li>
            <li class="servicios"><a href="#">servicios</a>
                <ul class="desplegable">
                    <li><a href="#">reparación</a></li>
                    <li><a href="#">atención al cliente</a></li>
                    <li><a href="#">quienes somos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </li>
            <li><a href="#">cuenta</a></li>
            <a href="#" class="carrito"><img src="../icons/-shopping-cart_90604.svg" alt="Carrito de la compra"></a>
        </ul>
    </header>
    <!-- FIN HEADER -->
        <!-- INICIO CUERPO -->
        <div class="imegen">
            <img src="../icons/ardenador.png" alt="">
        </div>
        <div class="ofrecer">
            <h1>¿Qué ofrecemos?</h1>
            <p>
                Reparación de electrónica en todos tus productos que ya no tienen garantía, incluso aquellos que no has adquirido en PcComponentes.
            </p>
        </div>
        <div class="service">
            <div>
                <h3>Recogida y entrega en casa</h3>
                <p>
                    Si lo desesas, podemos recoger el artículo en tu domicilio.
                </p>
            </div>
            <div>
                <h3>Sin esperas</h3>
                <p>
                    Rapidez en la revisión de tu caso y en la elaboración del presupuesto.
                </p>
            </div>
            <div>
                <h3>Garantía de satisfacción</h3>
                <p>
                    Ofrecemos 6 meses de garantía tras la reparación de tu artículo.
                </p>
            </div>
        </div>
        <div class="explica-form">
            <div class="explica">
                <h2>Reparación de ordenadores de sobremesa</h2>
                <p>Cambiar la tarjeta gráfica: Tanto si necesitas renovar la tarjeta gráfica de tu ordenador o añadir una tarjeta gráfica potente para tus juegos, ofrecemos un servicio muy cuidado por especialistas en montaje de ordenadores. Si tu gráfica ha empezado a dar problemas o no se comporta como esperabas, consúltanos y te ayudaremos con ello.</p>
                <p>Ampliar la memoria RAM: A veces no es necesario comprar un nuevo PC, con ampliar la memoria RAM de tu ordenador conseguirás acelerarlo y dejará de dar problemas. Si crees que tu ordenador se ha quedado corto y tienes que ampliar la RAM, te ayudamos.</p>
                <p>Cambiar el procesador: Para que tu ordenador sea más moderno y estable, puede ser recomendable cambiar el procesador. Consulta con nuestros expertos cualquier problema que tengas con tu PC de sobremesa, ellos te ayudarán y te solucionarán cualquier inconveniente.</p>
            
                <h2>Reparar portátiles</h2>
                <p>Reparamos pantallas de portátiles: Si la pantalla de tu portátil tiene píxeles muertos o apagados, si hay algún punto que no se ve bien o crees que se podría calibrar mejor, en PcComponentes podemos arreglar la pantalla del cualquier portátil, sea de la marca que sea.</p>
                <p>Cambiamos la batería del portátil: Con el tiempo, las baterías de los portátiles también se resienten con los años. Los modelos más modernos ya no incluyen baterías extraíbles, por lo que cambiarlas es complicado. Si tienes que cambiar la batería del portátil o repararla, nuestros expertos lo harán por ti, rápido y muy sencillo. </p>
                <p>Reparamos teclados: En ocasiones, los teclados de los portátiles dan problemas con algunas teclas. Si necesitas reparar una tecla de tu portátil o arreglar el teclado, en PcComponentes podemos ayudarte con ello. Reparamos teclados de portátiles HP, Asus, Lenovo y cualquier marca.</p>

                <h2>¿Cómo es el proceso de reparación?</h2>
            </div>
            <div class="form">
                <h2>OBTENER UN PRESUPUESTO DE REPARACIÓN</h2>
            </div>
        </div>
</body>
</html>