<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/icons/LOGO8.png">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/somos.css">
    <title>Quienes-Somos</title>
</head>
<body>
    <!-- INICIO HEADER -->
    <header id="header">
        <a class="logo" href="../index.html"><img src="../icons/logoh4tt.png" alt="imagen-logo"></a>
        <ul class="contenedor-nav">
            <li><a href="../index.html">inicio</a></li>
            <li class="desplegable1"><a href="#">productos</a>
                <ul class="desplegable">
                    <li><a href="./sobremesa.html">sobremesa</a></li>
                    <li><a href="./portatil.html">portátil</a></li>
                    <li><a href="./telefono.html">teléfono</a></li>
                </ul>
            </li>
            <li class="desplegable1"><a href="#">servicios</a>
                <ul class="desplegable">
                    <li><a href="./reparación.html">reparación</a></li>
                    <li><a href="./atencion.html">atención al cliente</a></li>
                    <li><a href="./somos.html">quienes somos</a></li>
                </ul>
            </li>
            <li><a href="./cuenta.html">cuenta</a></li>
            <a href="./carrito.html" class="carrito"><img src="../icons/-shopping-cart_90604.svg" alt="Carrito de la compra"></a>
        </ul>
    </header>
    <!-- FIN HEADER -->
    
    <div class="total">
        <div class="imglogo">
            <img src="../icons/logoh4t.png" alt="">
        </div>
        <p>Somos una empresa tecnológica especializada en el montaje a medida de todo tipo de equipos informáticos con especial orientación al mundo gaming. También comercializamos y distribuimos componentes informáticos, periféricos y accesorios de primeras marcas a través de nuestra tienda online. Además, prestamos un asesoramiento específico y personalizado a empresas y profesionales que buscan el máximo rendimiento, creando equipos a medida de altas prestaciones para satisfacer todas sus necesidades.</p>
        <h2>TRAYECTORIA</h2>
        <p>Con una dilatada experiencia de más de 20 años en el sector, nos hemos asentado como un referente nacional en el montaje de refrigeraciones líquidas y personalización de equipos para ofimática, gaming y profesional.</p>
        <h2>LOCALIZACIÓN</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1219.674535723238!2d-8.411347176537099!3d43.358384872146914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2e7c8fad214959%3A0xf0eb173e2d98b67b!2s%5BC.F.P.%5D%20Centro%20de%20Formaci%C3%B3n%20Profesional%20Afundaci%C3%B3n%20A%20Coru%C3%B1a!5e0!3m2!1ses!2ses!4v1677068407384!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!-- INICIO FOOTER -->
    <footer id="footer">
        <div class="grid">
            <div class="grid__item">
                <ul class="contenedor-footer">
                    <li>Productos</li>
                    <li><a href="../view/sobremesa.html">Sobremesa</a></li>
                    <li><a href="../view/portatil.html">Portátil</a></li>
                    <li><a href="../view/telefono.html">Teléfono</a></li>
                </ul>
            </div>
            <div class="grid__item">
                <ul class="contenedor-footer">
                    <li>Servicios</li>
                    <li><a href="../view/reparación.html">Reparacion</a></li>
                    <li><a href="../view/atencion.html">Atención al Cliente</a></li>
                    <li><a href="../view/somos.html">Quienes Somos</a></li>
                </ul>

            </div>
            <div class="grid__item">
                Siguenos en:
                <a href=""><img src="../icons/github.png" alt="" width="24px"></a>
                <a href=""><img src="../icons/gorjeo.png" alt="" width="24px"></a>
                <a href=""><img src="../icons/instagram.png" alt="" width="24px"></a>

            </div>
            <div class="grid__item">
                <a class="logo" href=""><img src="./icons/logoh4tt.png" alt="imagen-logo"></a>
            </div>
            <div class="grid__item">
                <ul class="contenedor-footer">
                    <li>Contacto</li>
                    <li>Teléfono:999999999</li>
                    <li>Email:a@example.com</li>
                </ul>

            </div>
            <div class="grid__item">
                <div class="copy">
                    <a href="#">&#169Copyright</a>
                </div>
            </div>
            <div class="grid__item">
                <div class="mapa">
                    <a href="../view/mapaweb.html">Mapa web</a>
                </div>
            </div>
    </footer>
    <!-- FIN FOOTER -->
    
</body>
</html>